<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Matcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Regex Matcher</h1>
    <form action="/results" method="post">
        <label for="test_string">Test String:</label>
        <input type="text" id="test_string" name="test_string" required>
        
        <label for="regex">Regex:</label>
        <input type="text" id="regex" name="regex" required>
        
        <button type="submit">Match Regex</button>
    </form>
    <div class="menu">
        <a href="/validate-email">Go to Email Validator</a>
    </div>
</body>
</html>
